# -------------------------------------
# ENVIROMENT VARIABLES FOR AUTH SYSTEM
# -------------------------------------

# server port
PORT=your_port_here

# database connection string 
MONGO_URI=your_mongodb_connection_string_here

# secret key for signing the JWT token
JWT_SECRET=your_jwt_secret_key_here

# node enviroment variable for development
NODE_ENV=development

# Email Configuration (for sending verification emails)
EMAIL_USER=your-email-here
EMAIL_PASS=your-app-password-here

# Redis connection for queues
REDIS_URL=redis://127.0.0.1:6379

# Optional worker tuning
EMAIL_WORKER_CONCURRENCY=5

# Application URL
CLIENT_URL=http://localhost:your_port_here